@media (min-width: 768px) {
  .form-inline .form-control {
    width: 100%;
  }
  .modal-dialog {
    width: 800px;
  }
}

.progress {
  margin-bottom: 0px;
}

.pagination .active a {
  z-index: initial;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  box-shadow: none;
  border-color: #d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border-radius: 0px !important;
  background-color: #3d9970 !important;
  box-shadow: none !important;
  border: 1px solid #3d9970 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ffffff !important;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important
}

table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
  text-align: center
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 30px
}

table.dataTable thead>tr>th:active, table.dataTable thead>tr>td:active {
  outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150"
}

table.dataTable thead .sorting_asc:after {
  content: "\e155"
}

table.dataTable thead .sorting_desc:after {
  content: "\e156"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  color: #eee
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center
  }
}

table.dataTable.table-condensed>thead>tr>th {
  padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  border-left-width: 0
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 0
}



.table-report tbody th, .table-report tbody td {
  border-bottom-width: 0
}



div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
  margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
  padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
  padding-right: 0
}

.text {
  text-align: left;
}

.number {
  text-align: right;
}

.boolen {
  text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}

.form-detail {
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 0px 15px;
  margin: 0px 5px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #3d9970;
  border-color: #3d9970;
}

.skin-green-light .main-header .navbar {
  background-color: #3d9970;
}

.skin-green-light .main-header .logo {
  background-color: #3d9970;
}

.page-header {
  margin: 10px 0 0px 0;
}

.sub-title {
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {   
  .sub-title {
      font-size: 21px;
  }
}

.box {
  border-top: 1px solid #d2d6de;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 30px;
}

.file-upload-btn {
  margin-top: 250px;
  margin-left: 30px;
  width: 50%;
  margin: 0;
  color: #fff;
  background: #B5B5B5;
  border: none;
  padding: 5px;
  border-radius: 4px;
  border-bottom: 4px solid #B5B5B5;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 10px;
}

.file-upload-btn:hover {
  background: #B5B5B5;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-image {
  height: 150px;
  width: 150px;
  margin: auto;
  padding: 0px;
  border-radius: 50%;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #B5B5B5;
  position: relative;
  height: 170px;
}

.image-dropping, .image-upload-wrap:hover {
  border: 4px dashed #ffffff;
}

.image-dropping, .image-upload-wrap:hover {
  border: 4px dashed #ffffff;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
  font-size:20px;
}

.image-title-wrap {
  padding: 0px;
  color: #222;
}

.table tr td .progress {
  margin-top: 0px;
}

.img-report{
  width:100px;
  height:100px;
  margin-left: auto
  ;margin-right: auto;
  display: block;
}

.select2-container {
  width: 100% !important;
}

.info-box-icon {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

a {
  color: #3d9970;
}

a:hover {
  color: #ff851b;
}

a:visited {
  color: #2f7a59;
}

.skin-green-light .main-header li.user-header {
  background-color: #3d9970;
}
.nav-tabs-custom{
  margin-top: 30px;
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #3d9970;
}
